# Задание 4

# Проведите всесторонний анализ и визуализацию данных.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

#### 1. Используя ресурс kaggle (https://www.kaggle.com/), выберите один из наборов данных. Загрузите этот набор и выведите первые 10 записей на экран.

In [3]:
data = pd.read_csv('./data/healthcare-dataset-stroke-data.csv')
data.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

#### 2. Опишите данные набора: какие признаки в нем присутствуют, что они означают, какой у них тип данных, какие значения могут принимать.

* ID -  id
* gender - пол (Male, Female)
* age - возраст
* hypertension - гипертензия(0, 1)
* heart_disease - болезнь сердца(0, 1)
* ever_married - когда-нибудь был(а) женат(а) (Yes, No)
* work_type - тип работы(Private, Self-emplyed, children, Govt_job, Never_worked)
* Residence_type - место в жилья(Urban, Rural)
* avg_glucose_level	 - средний уровень глюкозы в крови
* bmi - индекс массы тела
* smoking_status - статус курения(formerly smoked, never smoked, smokes, Unknown)
* stroke - инсульт(0, 1)

**Типы данных**

In [4]:
data.dtypes

Movie_Title       object
Year               int64
Director          object
Actors            object
Rating           float64
Runtime(Mins)      int64
Censor            object
Total_Gross       object
main_genre        object
side_genre        object
dtype: object

#### 3. Укажите какие признаки являются количественными, качественными порядковыми и качественными номинальными.

**Количественные:**
* *age*
* *avg_glucose_level*
* *bmi*

**Качественные:**
* *gender*
* *hypertension*
* *heart_disease*
* *ever_married*
* *work_type*
* *Residence_type*
* *smoking_status*
* *stroke*

#### 4. Рассчитайте параметры описательной статистики для признаков набора. С помощью параметров описательной статистики опишите один из количественных признаков и один из категориальных признаков. Есть ли в количественном признаке выбросы? Какое значение является выбросом и почему? По какому категориальному признаку можно группировать данные? Какие группировки представляют интерес и почему?

In [8]:
data.drop('id', axis=1).describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

#### 5. Постройте графики для количественных и категориальных признаков. Какие визуализации построены для количественных признаков? Какие особенностираспределения данных они позволяют наблюдать? Какие визуализации построены для категориальных признаков? Какие особенности распределения данных они позволяют наблюдать? Какие визуализации построены для пар признаков? Какие особенности распределения данных они позволяют наблюдать?

#### 6. Проведите корреляционный анализ. Есть ли в вашем наборе данных коррелирующие признаки?